<o-form-layout-manager attr="RoadtripDessertLink" mode="tab" title="ROADTRIPDESSERTLINK">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="RoadtripDessertLinkTable" 
            service="RoadtripDessertLink" 
            entity="RoadtripDessertLink" 
            title="ROADTRIPDESSERTLINK"
            keys="id"
            columns="id;dessert_id;roadtrip_id" 
            header-actions="R;D"
            visible-columns="id;dessert_id;roadtrip_id"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="dessert_id" title="dessert_id">
    <o-table-cell-renderer-service attr="dessert_id" 
        service="Dessert" entity="DessertType" columns="id;name"
        parent-keys="id:dessert_id"
        value-column="name" keys="dessert_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="roadtrip_id" title="roadtrip_id">
    <o-table-cell-renderer-service attr="roadtrip_id" 
        service="Roadtrip" entity="RoadtripType" columns="id;id"
        parent-keys="id:roadtrip_id"
        value-column="id" keys="roadtrip_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>